/*Padding y margenes*/
*{
    padding: 0rem;
    margin: 0rem;
}

main h2{
    margin-left: 0.5rem;
}

main p{
    margin: 1rem;
}
section h2{
    margin-left: 0.5rem;
}

body header nav ul li{
    display: inline;
    background-color: rgb(89, 177, 177);
    
}
section iframe{
    margin-left: 0.5rem;
}
/*Estilos*/
body{
    background-image: url(https://media.istockphoto.com/photos/texture-of-black-and-white-lines-scratches-dots-picture-id1093715592?k=20&m=1093715592&s=612x612&w=0&h=v8JDS2MvmJNYOono5SvfT4XGsCrV-RJysbxcyHMSqVs=);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin: 0rem;
}

header nav ul li{
    background-color: rgb(89, 177, 177);
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.2rem;
}


footer ul li{
    display: inline;
    background-color: rgb(89, 177, 177);
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

header{
    background-color: rgba(50, 94, 109, 0.8);
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: rgba(50, 94, 109, 0.8);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.estiloLiTop{
    list-style-type: decimal;
}

/*Grids pagina general*/
#grilla{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "footer footer";
    grid-template-rows: 65px auto auto 65px;
    grid-template-columns: 50% 50%;
    
}

main{
    grid-area: main;
}

section{
    grid-area: section;
}

/*Grid Tops*/
#gridTops{
    display: grid;
    grid-template-areas: 
    "top1 top1"
    "top2 top3"
    "top4 top5";
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.top1{
    grid-area: top1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.421);
}

.top2{
    grid-area: top2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.421);


}

.top3{
    grid-area: top3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.421);


}

.top4{
    grid-area: top4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.421);
}

.top5{
    grid-area: top5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.421);
}


/*Clases*/

.fuenteTexto{
    font-family: 'Rubik', sans-serif;
}

.fuenteTitulo{
    font-family: 'Anton', sans-serif;
}

.bordes{
    border: 1px solid;
    padding: 0rem;
    margin: 0rem;
}

.logo{
    height: 3rem;
    position: relative;
    padding: 0.5rem;
}

.logoFooter{
    height: 3rem;
    padding: 0.5rem;
}

.contenedorLogo{
    display: flex;
    
}

.fondoContenido{
    background-color: rgba(125, 140, 145, 0.8);
}

.reproductorTrax{
    width: 150%;
    height: 20rem;
}

.reproductorSound{
    width: 70%;
    height: 3rem;
}

.margenArr{
    margin-top: 5px;

}

.margenAba{
    margin-bottom: 5px;
}

.margenIzq{
    margin-left: 5px;
}

.margenDer{
    margin-right: 5px;
}

.fieldset{
    background-color: rgba(92, 113, 120, 0.8);
    border: 0rem;
}

.musicaInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.transBotones{
    transition: background-color 0.5s;
}


.mainOrden{
    display: flex;
    flex-direction: row;
}


/*Media queries*/
@media screen and (max-width: 1024px){
    #grilla{
        grid-template-columns: 100%;
        grid-template-areas: "header"
                            "main"
                            "section"
                            "footer";
        grid-template-rows: auto auto auto auto;
    }
    .reproductorTrax{
        width: 100%;
    }

    .reproductorSound{
        width: 100%;
    }

    .mainAlign{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    footer ul li{
        display: inline;
    }
    
    footer ul{
        display: flex;
        flex-direction: row;
    }

    header nav ul{
        display: flex;
        flex-direction: row;
    }

    #gridTops{
        display: grid;
        grid-template-areas: 
        "top1"
        "top2"
        "top3"
        "top4"
        "top5";
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
    }

}

/* Keyframes y transiciones*/

body header nav ul li{
    transition: 0.5s;
}

body header nav ul li:hover{
     background-color: white;
 }  

body footer ul li{
    transition: 0.5s;
}

body footer ul li:hover{
    background-color: white;
}


.animacionTitulo {
	-webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-7 16:41:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  